/.idea
/.vscode
/vendor
*.log
runtime
composer.lock
config/install.lock
/nbproject/
/addons/*
/public/assets/libs/
/public/assets/addons/*
composer.lock
*.log
*.css.map
!.gitkeep
.svn
.vscode
/app/extra/addons.php
/public/assets/js/addons.js